Sample/force-app/main/default/flows/As_per_Spring19.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApexAction</name>
        <label>ApexAction</label>
        <locationX>647</locationX>
        <locationY>92</locationY>
        <actionName>GetFirstFromCollection</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>inputVar</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>inputAssigntoVar</name>
        <label>inputAssigntoVar</label>
        <locationX>477</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>inputVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ApexAction</targetReference>
        </connector>
    </assignments>
    <interviewLabel>As per Spring19 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>As per Spring19(2)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>inputAssigntoVar</targetReference>
        </connector>
        <object>blng__Invoice__c</object>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>inputVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Invoice__c</objectType>
    </variables>
</Flow>
