Sample/force-app/main/default/flows/Dynamic_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Dynamic</name>
        <label>Dynamic</label>
        <locationX>336</locationX>
        <locationY>385</locationY>
        <actionName>GetFirstFromCollection</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>requestList</name>
            <value>
                <elementReference>dynamicvariable</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Dyna_Assign</name>
        <label>Dyna_Assign</label>
        <locationX>516</locationX>
        <locationY>172</locationY>
        <assignmentItems>
            <assignToReference>dynamicvariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dynamic</targetReference>
        </connector>
    </assignments>
    <interviewLabel>{!dynamicvariable}{!dynamicvariable}Dynamic Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dynamic Test 7</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>64</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Dyna_Assign</targetReference>
        </connector>
        <object>blng__Invoice__c</object>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>dynamicvariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Invoice__c</objectType>
    </variables>
</Flow>
