Sample/force-app/main/default/flows/release_notes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>DynaAction</name>
        <label>DynaAction</label>
        <locationX>201</locationX>
        <locationY>373</locationY>
        <actionName>01p9A0000036PH9NotFound</actionName>
        <actionType xsi:nil="true"/>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>DynaVar</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assig</name>
        <label>Assig</label>
        <locationX>539</locationX>
        <locationY>167</locationY>
        <assignmentItems>
            <assignToReference>DynaVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DynaAction</targetReference>
        </connector>
    </assignments>
    <interviewLabel>release notes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>release notes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assig</targetReference>
        </connector>
        <object>blng__Invoice__c</object>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>DynaVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Invoice__c</objectType>
    </variables>
</Flow>
